{% extends "base.html" %}
{% block head_content %}
<title>List Blogs</title>
{% endblock %}
{% block container %}
<div class="container">
    <div>
        <form action="" method="GET">
            <input type="text" placeholder="Buscar..." name="search" value="{{ request.POST.search }}">
            <button type="submit">
                <i class="fas fa-search fa-sm">search</i>
            </button>
        </form>
    </div>
    <div class="row">
        {% for post in posts %}
            {% include "posts/card.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
